*{
	margin: 0;
	padding: 0;
}

p{
	margin-bottom: 0 !important;
}

h2{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 24px;
	letter-spacing: 0.5px;
	font-weight: 300;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.kz-section{
	padding-top: 64px;
	padding-bottom: 64px;
}

.kz-section-text{
	font-size: 1.1rem;
}

.navbar{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;

}

.kz-logo{
	height: 80px;
	width: auto;
}

.kz-bg-transparent{
	background: transparent;
}

.kz-nav-list{
	list-style: none;
}

.kz-nav-list li{
	display: inline-block;
	margin-left: 32px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.6px;

	transition: 0.2s;
}

.kz-nav-list li:hover{
	color: #bcd0c7;
}

.carousel{
	position: relative;
	z-index: -1;
}

.kz-gradient{
	background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
}


.kz-hero-text{
	position: absolute;
	color: white;
	width: 50%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.kz-hero-text .title{
	font-size: 4rem;
	letter-spacing: 1.1px;
	font-weight: 600;
	text-transform: uppercase;

}


.kz-hero-text .tagline{
	font-size: 1.6rem;
	letter-spacing: 1.3px;
	font-weight: 400;
	margin-top: -4px;
	color: #eaebed;
	opacity: 0.6;

}




/* ====================== */
/*   Section 1: Vision    */
/* ====================== */



/* ========================== */
/*   Section 2: Department    */
/* ========================== */

.kz-section-dept{
	background:  linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../assets/img/1.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.kz-section-dept .kz-section-text{
	color: #bcd0c7;
}

/* ========================== */
/*   Section 3: Event    */
/* ========================== */

.kz-section-event{
	background:  linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../assets/img/2.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.kz-section-event .kz-section-text{
	color: #bcd0c7;
}

.kz-section-event h2{
	text-transform: none;
}




