*{
	margin: 0;
	padding: 0;
}

p{
	margin-bottom: 0 !important;
}

h2{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 24px;
	letter-spacing: 0.5px;
	font-weight: 300;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	
}

@media(max-width:576px){
	body{
		overflow-x: hidden;
	}
}

.kz-section{
	padding-top: 64px;
	padding-bottom: 64px;
}

.kz-section-hero{
	padding:0;
}
.kz-section-text{
	font-size: 1.1rem;
}

.navbar{
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;

}

.kz-logo{
	height: 100px;
	width: auto;
}

.kz-bg-transparent{
	background: transparent;
}
@media (max-width: 576px){
	.kz-section-hero{
		margin-top: 120px;
	}
	.kz-bg-transparent{
		background-color: #212529;
	}
}
.kz-nav-list{
	list-style: none;
}

.kz-nav-list li{
	display: inline-block;
	margin-left: 32px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.6px;

	transition: 0.2s;
}

.kz-nav-list li:hover{
	color: #bcd0c7;
}

.carousel{
	position: relative;
	z-index: -1;
}

.kz-gradient{
	background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
}


.kz-hero-text{
	position: absolute;
	color: white;
	width: 50%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.kz-hero-text .title{
	font-size: 4rem;
	letter-spacing: 1.1px;
	font-weight: 600;
	text-transform: uppercase;

}


.kz-hero-text .tagline{
	font-size: 1.6rem;
	letter-spacing: 1.3px;
	font-weight: 400;
	margin-top: -4px;
	color: #eaebed;
	opacity: 0.6;

}

@media (max-width: 576px) {
	.kz-hero-text{
		position: absolute;
		text-align: center;
		color: white;
		width: 50%;
		text-align: center;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
	}

	.kz-hero-text .title{
		font-size: 1.8rem;
		letter-spacing: 0.5px;
		font-weight: 600;
		text-transform: uppercase;
	
	}
	
  .kz-hero-text .tagline{
		font-size: 0.8rem;
		letter-spacing: 0.7px;
		font-weight: 400;
		margin-top: -4px;
		color: #eaebed;
		opacity: 0.6;
	
	}
}




/* ====================== */
/*   Section 1: Vision    */
/* ====================== */



/* ========================== */
/*   Section 2: Sponsers    */
/* ========================== */
.kz-section-sponsors{
	display: block !important;
}
.msponsor{
	display: none !important;
}
.mrow{
	display: flex;
	position: absolute;
	top: 50%;
	right: 0%;
	left: 0%;
	transform: translate(0%,-50%);
	margin-bottom: 20px;
	animation-name: mymarquee;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	overflow: hidden;
}
@keyframes mymarquee{
	from{transform: translateX(100%);}
  to{transform: translateX(-100%);}
}
.spimg{
	display: inline-block;
	width: 50px;
	height: 50px;
}
.ospimg{
	padding: 10px;
}
@media (max-width:576px){
	.kz-section-sponsors {
		display: none !important;
	}
	.msponsor{
		display: block !important;
		position: relative;
	}
}




/* ========================== */
/*   Section 2: Department    */
/* ========================== */

.kz-section-dept{
	background:  linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../assets/img/1.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.kz-section-dept .kz-section-text{
	color: #bcd0c7;
}

/* ========================== */
/*   Section 3: Event    */
/* ========================== */

.kz-section-event{
	background:  linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../assets/img/2.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.kz-section-event .kz-section-text{
	color: #bcd0c7;
}

.kz-section-event h2{
	text-transform: none;
}



/* ========================== */
/*   Section 5: Forms    */
/* ========================== */

.kz-form-wrapper{
	position: relative;
	background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url("../assets/img/bgform.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 100;
}
.kz-form-bgicon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}
.kz-form-bgicon img{
	height: 300px;
	width: 300px;
}
@media (max-width:500px){
	.kz-form-bgicon{
		position: absolute;
		z-index: -1;
	}
	.kz-form-bgicon img{
		height: 250px;
		width: 250px;
	}
}
.kz-rotate {
	animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }
  .form-group label{
	  color: white !important;
  }
  #map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
	background-color:transparent;
   }

   .kz-social-icons{
	position: fixed;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1070;
   }
   .kz-social-icons a{
	display: block;
	text-align: center;
	padding: 10px;
	transition: all 0.3s ease;
	color: white;
	font-size: 25px;
   }
   .kz-social-icons a:hover{
	   background-color: #000;
   }
   .fb {
	background: #3B5998;
	color: white;
  }
  
  .insta {
	background: #fb3958;
	color: white;
  }
  
  .google {
	background: #dd4b39;
	color: white;
  }
  
  .linkdn {
	background: #007bb5;
	color: white;
  }

  @media (max-width:500px){
	  .kz-social-icons a{
		  padding: 10px;
		  font-size: 20px;
	  }
	}

/* Footer */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #1C2833;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #1C2833 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* ================ */
/* EVENTS */
/* ================ */
.kz-events-hero{
	height: 80vh;
	background-color: black;
}

.kz-events-hero p{
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5rem;
	padding-left: 25%;
	color: white;
	letter-spacing: 0.5px;
}

/* =============================================== */
/* Styling for cars.html begins here */
/* =============================================== */
.car-outer{
	position: relative;
	height: 100vh;
	display: flex;
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 5px 10px 18px #888888;
}
.car-left{
	position: relative;
	padding: 0px;
	height: 100vh;
	width: 50%;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.car-right{
	position: relative;
	padding: 0px;
	height: 100vh;
	width: 50%;
	overflow: hidden;
	background-color: #296DE0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.car-photo img{
	position: absolute;
	z-index: 1070;
	height: 50%;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.circle-left{
	overflow: hidden;
	position: absolute;
	right: 0%;	
	top: 50%;
	transform: translate(50%,-50%);
	background-color: #EED655;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.car-left a:link{
	color: #296DE0;
}
.car-left a:hover{
	color: #000;
}
.car-left a:active{
	color: #296DE0;
}
.car-left a:visited{
	color: #296DE0;
}
.circle-right{
	overflow: hidden;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.car-left-icon img{
	padding: 20px;
	height: 100px;
	width: 100px;
}
.car-left-title h1{
	padding: 50px;
	font-size: 50px !important;
	font-weight: 600;
}
.specs{
	padding: 20px;
	padding-left: 50px;
}
.specs ul{
	list-style: none;
}
.specs h6{
	color: #116B80;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 500;
}
.specs h3{
	color: #EED655;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: 700;
}
.car-left-footer{
	position: absolute;
	display: block;
	bottom: 0;
	height: 10vh;
	background-color: #F1F1F1;
	width: 100%;
}
.car-left-footer p{
	color: #296DE0;
	padding: 15px;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 1px;
}
.car-left-footer i{
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	color: #296DE0;
}