*{
    margin:0;
    padding: 0;
    font-family: 'brandon-grotesque'; 
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 100;
}
span{
    font-weight: bold;
}
.main-header p{
    text-align: center;
    padding: 40px 200px;

}
.first-row{
    display: grid;
    margin: 30px 200px ;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    
}
.second-row{
    display: grid;
    margin: 30px 200px ;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
}
.third-row{
    display: grid;
    margin: 30px 200px ;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
}
.team-profile img{
    position: relative;
    z-index: -1;
    height: 100px;
    width: 100px;
    vertical-align:middle;
    
}
.wrapper{
    position: relative;
}
.hover-animation{
    display: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 32%;
    top: 28%;
    font-size: 15px;
}

.wrapper:hover{
    filter: grayscale(100%);
}

.fab{
   font-size: 15px;
   text-align: center;
   color: #fff;
   text-decoration: none;
   padding: 5px 5px;
}
.fab:hover{
    color:rgb(0, 0, 0);
   }
   
