*{
    margin:0;
    padding: 0;
    font-family: 'brandon-grotesque'; 
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 100;
}
span{
    font-weight: bold;
}
.main-header p{
    text-align: center;
    padding: 40px 200px;

}
.row{
    display: grid;
    margin: 30px 200px ;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    text-align: center;
    
}
.team-profile img{
    position: relative;
    z-index: -1;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    vertical-align:middle;
    
}
.wrapper{
    position: relative;
}
.hover-animation{
    display: none;
    text-align: center;
    color: white;
    position: absolute;
    left: 30%;
    top: 28%;
    font-size: 15px;
}

.wrapper:hover{
    filter: grayscale(100%);
}

.fab{
   font-size: 15px;
   text-align: center;
   color: #fff;
   text-decoration: none;
   padding: 5px 5px;
}
.fab:hover{
    color:rgb(0, 0, 0);
   }
    @media(max-width: 576px){
        body{
            overflow-x: hidden;
        }
       .main-header h1{
           font-size: 45px;
       }
       .row{
            display: grid;
            margin: 5px 80px ;
            padding: 10px;
            grid-template-columns: repeat(3,1fr);
            grid-column-gap: 0.8em;
            grid-row-gap: 1em;
            text-align: center;
        }
        .main-header p{
            font-size: 12px;
            text-align: justify;
            padding: 10px 100px;
        }
        .team-profile img{
            height: 80px;
            width: 80px;
        }
        .fab{
            font-size: 12px;
            padding: 3px 3px;
         }
        .hover-animation{
           
            position: absolute;
            left: 20%;
            top: 26%;
            font-size: 13px;
        }
    }
  